<script lang="ts">
export default {
  data: () => ({
    show: false,
  }),
};
</script>
<template>
  <v-card
    class="mx-auto"
    max-width="344"
    style="border-radius: 2em; background-color: bisque"
  >
    <v-img
      src="https://media.discordapp.net/attachments/1052530811741683782/1053236168646475776/IMG_8059.jpg"
      height="200px"
      cover
    ></v-img>

    <!-- <v-card-title
      class="font-weight-bold text-h5 text-brown-lighten-1"
      style="text-align: center"
    >
      Jenna Ortega
    </v-card-title> -->
    <v-card-actions>
      <v-btn
        color="orange-lighten-2"
        variant="text"
        @click="show = !show"
        style="margin: 1px 240px"
      >
        Explore
      </v-btn>

      <v-spacer></v-spacer>
    </v-card-actions>

    <v-expand-transition>
      <div v-show="show">
        <v-divider></v-divider>

        <v-card-text class="font-weight-regular text-brown-lighten-1">
          If we're talking about what I'm interested in, one such actress, Jenna
          Ortega, is such a lovely and talented woman, and what I would do is
          follow all her movies if I had time apart from this actress. I'm
          interested in programming. I keep trying to understand it. I want to
          be good so I can have a job in the future.
        </v-card-text>
      </div>
    </v-expand-transition>
  </v-card>
</template>
