<script lang="ts"></script>
<template>
  <v-container style="background-color: antiquewhite">
    <v-row justify="center">
      <h1
        class="text-brown-darken-2"
        style="
          text-align: center;
          font-family: 'Times New Roman', Times, serif;
          font-size: 60px;
        "
      >
        My Email Contact
      </h1>
    </v-row>
    <v-row justify="center">
      <v-img
        src="https://media.discordapp.net/attachments/1052530811741683782/1052610852034977932/image.png"
        height="530"
        cover
      ></v-img>
    </v-row>
  </v-container>
</template>
<style scoped></style>
