<script setup lang="ts">
import TestCard from "./CardView.vue";
import {
  mdiStarFourPointsOutline,
  mdiStarFourPoints,
  mdiAccountOutline,
  mdiAccountBoxOutline,
  mdiSchoolOutline,
  mdiLightbulbOnOutline,
  mdiFacebook,
  mdiInstagram,
  mdiGmail,
  mdiAndroid,
  mdiMagnify,
} from "@mdi/js";
</script>
<template>
  <v-container class="bg-brown-lighten-1">
    <v-img
      src="https://media.discordapp.net/attachments/1052530811741683782/1052535134810820668/the_otherworld_banner_by_asur_misoa_delkhlf-fullview.jpg"
      height="200"
      cover
      class="bg-grey-lighten-2"
    ></v-img>
  </v-container>
  <v-container style="background-color: #fff2df">
    <v-row justify="center">
      <v-col cols="5"> </v-col>
      <v-col cols="6">
        <h1
          class="font-weight-bold text-h3 text-brown-darken-2"
          style="text-align: left"
        >
          PORTFOLIO
          <v-icon :icon="mdiAccountBoxOutline"></v-icon></h1
      ></v-col>
    </v-row>
    <v-row cols="12">
      <v-col align="center" cols="4">
        <v-col>
          <v-avatar class="bg-brown-lighten-1" size="300">
            <v-avatar class="bg-grey" size="285">
              <v-img
                src="https://media.discordapp.net/attachments/1052530811741683782/1052538025176997909/IMG_1191.jpg?width=676&height=676"
                alt="win"
              ></v-img>
            </v-avatar>
          </v-avatar>
        </v-col>
        <div>
          <v-btn
            href="https://www.facebook.com/profile.php?id=100010095063221"
            target="_blank"
            class="mx-2"
            fab
            dark
            small
            color="bisque"
            ><v-icon dark :icon="mdiFacebook"></v-icon
          ></v-btn>
          <v-btn
            href="https://www.instagram.com/lnwwinmeittilit/"
            target="_blank"
            class="mx-2"
            fab
            dark
            small
            color="bisque"
            ><v-icon dark :icon="mdiInstagram"></v-icon
          ></v-btn>
          <v-btn to="/gmail" class="mx-2" fab dark small color="bisque"
            ><v-icon dark :icon="mdiGmail"></v-icon
          ></v-btn>
          <v-btn to="/discord" class="mx-2" fab dark small color="bisque"
            ><v-icon dark :icon="mdiAndroid"></v-icon
          ></v-btn>
          <router-view></router-view>
        </div>
      </v-col>
      <v-col cols="4">
        <v-col>
          <h3 class="font-weight-bold text-h5 text-brown-darken-3">
            PROFILE <v-icon :icon="mdiAccountOutline"></v-icon>
          </h3>
          <p
            class="font-weight-bold text-h6 text-brown-lighten-1"
            style="text-align: left"
          >
            Name: Anawin Wiriyasathitkul <br />Nickname: win <br />
            Date of Birth: 2003-09-02 <br />Age: 19 <br />
            Gender: male <br />Occupation: Student <br />
            Weight: 60 Kg. <br />Height: 175 Cm. <br />
            Tell: 097-078-5562
          </p>
        </v-col>
      </v-col>
      <v-col cols="4">
        <h3
          class="font-weight-bold text-h5 text-brown-darken-3"
          style="text-align: center; padding: 0.35cm"
        >
          WHAT'S INTERESTED <v-icon :icon="mdiMagnify"></v-icon>
        </h3>
        <TestCard></TestCard>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <h3
          class="font-weight-bold text-h5 text-brown-darken-3"
          style="text-align: center"
        >
          EDUCATION <v-icon :icon="mdiSchoolOutline"></v-icon>
        </h3>
        <p class="font-weight-medium text-h6 text-amber-accent-3">
          <v-timeline side="end" align="start">
            <v-timeline-item dot-color="brown-darken-3" size="small">
              <div class="d-flex">
                <strong class="mr-4 text-amber-darken-4">2009-2014</strong>
                <div>
                  <strong>Wadbanchang School</strong>
                  <div class="text-caption">Grade 1-6</div>
                </div>
              </div>
            </v-timeline-item>

            <v-timeline-item dot-color="brown-lighten-1" size="small">
              <div class="d-flex">
                <strong class="mr-4 text-amber-darken-4">2015-2017</strong>
                <div>
                  <strong>Banchangkarnchanakulwittaya School</strong>
                  <div class="text-caption mb-2">Grade 1-3</div>
                </div>
              </div>
            </v-timeline-item>
            <v-timeline-item dot-color="brown-darken-3" size="small">
              <div class="d-flex">
                <strong class="mr-4 text-amber-darken-4">2018-2020</strong>
                <div>
                  <strong>Banchangkarnchanakulwittaya School</strong>
                  <div class="text-caption mb-2">Grade 4-6</div>
                </div>
              </div>
            </v-timeline-item>
          </v-timeline>
        </p>
      </v-col>
      <v-col>
        <h3
          class="font-weight-bold text-h5 text-brown-darken-3"
          style="text-align: center"
        >
          SKILL <v-icon :icon="mdiLightbulbOnOutline"></v-icon>
        </h3>
        <br />
        <v-table style="background-color: bisque; border-radius: 2em">
          <thead>
            <tr>
              <th class="font-weight-bold text-h6 text-brown-darken-4">
                Teamwork
              </th>
              <th class="text-right text-brown-lighten-1">
                <v-icon :icon="mdiStarFourPoints"></v-icon>
                <v-icon :icon="mdiStarFourPoints"></v-icon>
                <v-icon :icon="mdiStarFourPoints"></v-icon>
                <v-icon :icon="mdiStarFourPointsOutline"></v-icon>
                <v-icon :icon="mdiStarFourPointsOutline"></v-icon>
              </th>
            </tr>
            <tr>
              <th class="font-weight-bold text-h6 text-brown-darken-4">
                Leadership
              </th>
              <th class="text-right text-brown-lighten-1">
                <v-icon :icon="mdiStarFourPoints"></v-icon>
                <v-icon :icon="mdiStarFourPoints"></v-icon>
                <v-icon :icon="mdiStarFourPointsOutline"></v-icon>
                <v-icon :icon="mdiStarFourPointsOutline"></v-icon>
                <v-icon :icon="mdiStarFourPointsOutline"></v-icon>
              </th>
            </tr>
            <tr>
              <th class="font-weight-bold text-h6 text-brown-darken-4">
                Communication
              </th>
              <th class="text-right text-brown-lighten-1">
                <v-icon :icon="mdiStarFourPoints"></v-icon>
                <v-icon :icon="mdiStarFourPoints"></v-icon>
                <v-icon :icon="mdiStarFourPoints"></v-icon>
                <v-icon :icon="mdiStarFourPoints"></v-icon>
                <v-icon :icon="mdiStarFourPointsOutline"></v-icon>
              </th>
            </tr>
            <tr>
              <th class="font-weight-bold text-h6 text-brown-darken-4">
                Critical thinking
              </th>
              <th class="text-right text-brown-lighten-1">
                <v-icon :icon="mdiStarFourPoints"></v-icon>
                <v-icon :icon="mdiStarFourPoints"></v-icon>
                <v-icon :icon="mdiStarFourPoints"></v-icon>
                <v-icon :icon="mdiStarFourPointsOutline"></v-icon>
                <v-icon :icon="mdiStarFourPointsOutline"></v-icon>
              </th>
            </tr>
            <tr>
              <th class="font-weight-bold text-h6 text-brown-darken-4">
                Creativity
              </th>
              <th class="text-right text-brown-lighten-1">
                <v-icon :icon="mdiStarFourPoints"></v-icon>
                <v-icon :icon="mdiStarFourPoints"></v-icon>
                <v-icon :icon="mdiStarFourPoints"></v-icon>
                <v-icon :icon="mdiStarFourPointsOutline"></v-icon>
                <v-icon :icon="mdiStarFourPointsOutline"></v-icon>
              </th>
            </tr>
            <tr>
              <th class="font-weight-bold text-h6 text-brown-darken-4">
                IT literacy
              </th>
              <th class="text-right text-brown-lighten-1">
                <v-icon :icon="mdiStarFourPoints"></v-icon>
                <v-icon :icon="mdiStarFourPoints"></v-icon>
                <v-icon :icon="mdiStarFourPoints"></v-icon>
                <v-icon :icon="mdiStarFourPoints"></v-icon>
                <v-icon :icon="mdiStarFourPointsOutline"></v-icon>
              </th>
            </tr>
          </thead>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped></style>
